
/* General settings */
body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  background-color: #1E1C1C;
  color:#fff
}


/* Font settings */
h1 {
  font-size:4.8em;
  letter-spacing: 0.18em;
  line-height: 1em;
  font-weight: bold;
  font-family: 'Jockey One', sans-serif;
}
h2{
  font-size: 2em; 
  letter-spacing: 0.15em;
  line-height: 2em;
  font-family: 'Exo',sans-serif;
}
h3{
font-family: 'Exo', sans-serif;
font-weight: bolder;
font-size: 2em;
color: #FFFFFF;
}

p{
  font-size:1.2em;
  font-weight: lighter;
  font-family: 'PT Sans Caption', sans-serif;
}

.p1{
  font-size:1em;
  color:#6e6e6e;
  font-family: 'PT Sans Caption', sans-serif;

}
/* Tools */
button {
  height:3.7em;
  width: 12em;
  border-radius:1em;
  background-color: #fff;
  border:none;
  font-size:1em;
  font-weight: bold;
  font-family: 'PT Sans Caption', sans-serif;
}

.button1:hover{
  background-color: #8053FF;
  cursor: pointer;
  color:#fff;
}

/* Home page */
.hero {
  flex-direction:column;
  color: #fff;
  /* padding: 2vw; */
  /* padding-top: 3vh; */
  width:100%;
  /* max-width:1050px; */
  margin:0 auto;
}
/* .hero_image{
  background: url('../PrivaC/assets/image\ 11.png');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height:32vh;
  height: 100%;
  z-index: -1;
}
   */
.hero_img {
  background: url('../PrivaC/assets/hero_img.png');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  min-height: 85vh;
  flex-direction: column;
}
  
nav ul {
  font-family:'PT Sans Caption', sans-serif;
  font-weight:lighter;
  letter-spacing:0.03em;
  list-style-type: none;
  padding-top: 6vh;
  margin:0px;
  text-align: center;
}
nav a:hover{
  color:#8053FF;
}
nav{
  text-align:center;
  /* padding-top:5vh; */
}
nav li {
  display: inline;
  margin-right: 1em;
  margin-top:0px;
}

nav a {
  text-decoration: none;
  color: #fff;
  word-spacing: 2em;
}


footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  display: inline-block; /* Display the blocks inline to allow horizontal arrangement */
  width: 32vw;
  white-space: normal; /* Allow normal text wrapping inside each block */
  overflow: hidden; /* Hide horizontal scrollbar */
  vertical-align: top; /* Align the tops of the blocks */
}

div.gallery:hover {
  border: 1px solid rgb(208, 98, 98); /* Correct border property */
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.laptopbottomart {
  border-bottom: 60px solid #000;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height:0;
  width:210px;
  border-radius: 5px;
  margin: auto;
}

.laptopscreenart {
  width: 200px;
  height: 120px;
  background-color:#222121;
  border-radius: 5px;
  border: 5px solid #000;
  color:#222121;
  font-size:small;
  margin: auto;
}

.laptopscreenart:hover {
  width: 200px;
  height: 120px;
  background-color:#ccc;
  border-radius: 5px;
  border: 5px solid #000;
  color:#082835;
  font-size:small;
  margin: auto;
}

div.productbox {
  width: 30%;
  display: inline-block;
  text-align: center;
  padding-left: 15px;
}

div.productbox img {
  width: 100%;
  height: auto;
  border-radius: 3px;
}

.productbox:hover {
  width: 32%;
}

.padcon { 
  padding: 5vh 8vw 5vh 8vw;
}

.colrcon {
  display: flex;
  align-items: center;
  background-color: #222121;
  border-radius: 2%;
  padding: 2vh 6vw;
  height: 100vh;
}

.inline{
  display:inline-block;
}
.flex{
  display:flex;
  
}
.innercon{ /* Padding setting for containers inside another container*/
  padding:2vh 6vw 2vh 6vw;
  display:inline-block
}
.boxcon{ /* Padding setting for containers inside another container*/
  padding:2vh 6vw 2vh 6vw;
  /* text-align:center; */
  width:13em;
  margin-top: 2vh;
  margin-right:0.6em;
  margin-bottom:2vh;
  border-radius: 5%;
  display:inline-block;

  
}

.boxcon:hover{
  .p1{
    color:#FFFFFF
  }
  outline: 3px solid #1E1C1C;
  
  
}

.smallbox{
  display:inline-block;
  display:flex;
  padding:1em;
}

.banner_img{
  background: url('../PrivaC/assets/home_describackground.svg');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height:32vh;
  height: 100%;
  z-index: -3;}

.banner_container{
  display:flex; 
  flex-direction:column;
  padding:2vh 15vw 2vh 12vw;
}
.container{
 margin-top:5vh;
 margin-bottom:5vh;
}

.item{
  order:5;
}

.mask {
  cursor: none;
  background: radial-gradient(
    circle 30px at var(--x, 0) var(--y, 0), 
    #1E1C1C 99%, rgb(255, 255, 255) 100%
  ) fixed;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.mask::before {
  content: "";
  position: fixed;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ffffff;
  top:var(--y,0);
  left:var(--x,0);
  transform:translate(-50%,-50%);
  z-index: -1;
}


/* FAQ show and hide */
#container {
  list-style: none;
  font-family: arial;
  font-size: 20px;
}
#container li {
  margin: 10px;
  border-bottom: 1px solid #ccc;
  position: relative;
  cursor: pointer;
}
#container h3 {
  margin: 0;
  font-size: 24px;
}
#container span {
  position: absolute;
  right: 5px;
  top: 0;
  color: #000;
  font-size: 18px;
}
#container .panel {
  margin: 5px 0;
  display: none;
}

.flex-container{
  display: flex;
  align-items: center;
  flex-wrap:wrap;
  justify-content: center;
}

@media(width:10000px){
.responsive-image {
  max-width: 45%;
}
}


@media (max-width: 1000px){
  .side-img{
    flex-direction:column;
    align-items:center;
    max-width: 80vw;
  }
}
img {
  width: 300px; /* Adjust the width as needed */
  height: auto;
  margin: 30px;
  margin-left: 60px;
  margin-right: 50px;
}

figure {  
  text-align: center;
}  

/* FAQ show and hide */
#container {
  list-style: none;
  font-family: arial;
  font-size: 20px;
}
#container li {
  margin: 10px;
  border-bottom: 1px solid #ccc;
  position: relative;
  cursor: pointer;
  }
#container h3 {
  margin: 0;
  font-size: 24px;
}
#container span {
  position: absolute;
  right: 5px;
  top: 0;
  color: #000;
  font-size: 18px;
}
#container .panel {
  margin: 5px 0;
  display: none;
}
div.picwrapper {
  width:100%;
  text-align:center;
}
div.pic {
  display:inline-block;
}

/* Contacts page grids */
.wrapper {
  display: grid;
  grid-template-rows: 100px 100px 100px 40px 30px 30px 40px 50px 50px 50px 50px 50px 50px;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
}

.Item1 {
grid-row-start: 2;
grid-row-end: 3;
grid-column-start: 3;
grid-column-end: 9;

}

.Item2 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 9;
  
}

.Item3 {
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 3;
  grid-column-end: 9;
  
}

.Item4 {
  grid-row-start: 8;
  grid-row-end: 9;
  grid-column-start: 3;
  grid-column-end: 9;
  
}

.social {

  grid-row-start: 9;
  grid-row-end: 10;
  grid-column-start: 3;
  grid-column-end: 8;

  font-size: 5em;
  text-decoration: none;
  
 

}

.social a:link {

  color: black;
}

.social a:visited {

  color: black;
}

.social a:link a:visited {

  text-decoration: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-up {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#lightgrey{
  background-color: #222121;
}

#darkgrey{
  background-color: #1E1C1C;
}
